<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>Wireframe Designs - BootStrap</title>
        <meta content="Admin Dashboard" name="description" />
        <meta content="Themesbrand" name="author" />
        <link rel="stylesheet" href="public/plugins/chartist/css/chartist.min.css">
        <link rel="shortcut icon" href="public/assets/images/favicon.ico">
        <link href="public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="public/assets/css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
      <div id="wrapper">
        <!-- <% include ./Partials/adminHeader  %> -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="index" class="logo">
                </a>
            </div>
        
            <nav class="navbar-custom">
                <ul class="navbar-right d-flex list-inline float-right mb-0">
                    <li class="dropdown notification-list d-none d-md-block">
                    </li>
                <!-- full screen -->
            <li class="dropdown notification-list d-none d-md-block">
                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-fullscreen noti-icon"></i>
                </a>
            </li>

           
        </ul>
        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
           
        </ul>
            </nav>
        </div>
        <!-- <% include ./Partials/Sidebar  %> -->
           <!-- ========== Left Sidebar Start ========== -->
   <div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Main</li>
                <li>
                    <a href="configuration.html" class="waves-effect">
                        <i class="ti-home"></i> <span> Configuration </span>
                    </a>
                </li>
                <li>
                    <a href="category-mapping.html" class="waves-effect"><i class="ti-list"></i><span> Category Mapping </span></a>
                </li>

                <li>
                    <a href="item-control.html" class="waves-effect"><i class="ti-settings"></i><span> Item Control </span></a>
                </li>

                <li>
                    <a href="synchronization.html" class="waves-effect"><i class="ti-reload"></i><span> Synchronization </span></a>
                </li> 
            </ul>

        </div>
    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">
                  
                   <!-- <% include ./Partials/Settings  %> -->
                     
                <div class="page-title-box">
                    <div class="row align-items-center">

                        <div class="col-sm-6">
                            <h4 class="page-title">Item Control</h4>   
                    </div>

        <!-- <div class="col-sm-6">
            <h4 class="page-title">Calendar</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0);">Veltrix</a></li>
                <li class="breadcrumb-item active">Calendar</li>
            </ol>
        </div> -->

        <div class="col-sm-6">
            <!-- <div class="float-right d-none d-md-block">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-settings mr-2"></i> Settings
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>                 
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-12 p-3 bg-white shadow rounded">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Magento Item</th>
                        <th>Magento Category</th>
                        <th>Syncronise</th>
                        <th>Default Category</th>
                        <th>Override Default Category</th>
                        <th>Override Category</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item One</td>
                        <td>Category One</td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name = "customCheck" id="customCheck2">
                                <label class="custom-control-label" for="customCheck2"><span name = "customSpan"></span></label>
                            </div>
                        </td>
                        <td>
                            Category Text
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck3" name = "customCheck">
                                <label class="custom-control-label" for="customCheck3"><span name = "customSpan"></span></label>
                            </div>
                        </td>
                        <td>
                            Overide Text One
                        </td>
                        </tr>

                        <tr>
                            <td>Item Two</td>
                            <td>Category Two</td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4" name = "customCheck">
                                    <label class="custom-control-label" for="customCheck4"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Category Text 
                            </td>
                            <td>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5" name = "customCheck">
                                    <label class="custom-control-label" for="customCheck5"><span name = "customSpan"></span></label>
                                </div>
                            </td>
                            <td>
                                Overide Text Two
                            </td>

                    </tr>
                    <tr>
                        <td>Item Three</td>
                        <td>Category Three</td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck6" name = "customCheck">
                                <label class="custom-control-label" for="customCheck6"><span name = "customSpan"></span></label>
                            </div>
                        </td>
                        <td>
                            Category Text
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck7" name = "customCheck">
                                <label class="custom-control-label" for="customCheck7"><span name = "customSpan"></span></label>
                            </div>
                        </td>
                        <td>
                            Overide Text Three
                        </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->
<footer class="footer text-center">
    © 2021.
</footer>
<script src="public/assets/js/jquery.min.js"></script>
<script src="public/assets/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/js/metisMenu.min.js"></script>
<script src="public/assets/js/jquery.slimscroll.js"></script>
<script src="public/assets/js/waves.min.js"></script>
<script src="public/assets/js/app.js"></script>
<script src="public/assets/pages/dashboard.js"></script>
<script src="public/assets/js/jquery.min.js"></script>
<script src="public/assets/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/js/metisMenu.min.js"></script>
<script src="public/assets/js/jquery.slimscroll.js"></script>
<script src="public/assets/js/waves.min.js"></script>

<!-- countdown -->
<script src="public/plugins/countdown/jquery.countdown.min.js"></script>
<script src="public/assets/pages/countdown.int.js"></script>
<!-- App js -->
<script src="public/assets/js/app.js"></script>

</body>
</html>